@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
/*font-family: 'Orbitron', sans-serif;*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style:none;
	text-decoration:none;
	transition: all 0.2s
}

body{
	font-family: 'Poppins', sans-serif !important;	
}

html{
	font-size: 62.5%;
	/* 10px = 1rem */
}

/* reuasable codes */

:root{
	--nav-bar-color:#0c426e;
	--nav-bar-font-color:#ffffff;
	--header-height:6.9rem;
	--menu-btn-color:white;
	--support-color:#fafafa;
	--footer-color:#252525;
}

.wrapper{
	width:114rem;
}


.hero-heading{
	font-size: 7.6rem;
	line-height: 1.2;
	margin-bottom: 0.6rem;
}

.p-font-md{
	font-size: 1.6rem;
}

.p-font-sm{
	font-size: 1.4rem;
}

.btn{
	--clr:white;
	--font-size: 1.8rem;
	--top:1rem;
	--rght:1rem;
	--btm:1rem;
	--left:1rem;
	--bckcolor:var(--nav-bar-color);

	padding-top: var(--top);
	padding-right: var(--rght);
	padding-bottom: var(--btm);
	padding-left: var(--left);

	background:var(--bckcolor);
	display: inline-block;
	font-size:var(--font-size);

	color:var(--clr);
}


/* service title */
.title{
	font-size: 4rem;
	position: relative;
	padding-bottom: 1.2rem;
}

.title::after{
	content:"";
	width:6.8rem;
	border:0.5rem solid black;
	border-radius: 1rem;
	position: absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}

.title span{
	color:#0c426e;
}


/* navbar css */

header{
	min-height:var(--header-height);
	padding:0 3.2rem;
	background:var(--nav-bar-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > nav {
	margin-top:-0.3rem;
}

header > .logo,.search{
	margin-bottom:-.5rem;
}


header nav ul{
	display: flex;
	gap:4rem;
}

.show-nav{
	display: flex;
	padding:1rem;
	gap:2.5rem;
	flex-direction: column;
	position:absolute;
	top:var(--header-height);
	left:0;
	width:100%;
	text-align: center;
	z-index: 1;
	background-color: var(--nav-bar-color);
}

header nav ul li:last-child{
	display: none;
}

header nav ul li a{
	font-size: 1.8rem;
	color:var(--nav-bar-font-color);
	display: inline-block;
	font-weight:lighter;
}


header .search img{
	padding-right: 0.4rem;
}

header .search button {
	margin:0;
	padding: 0;
	width:5rem;
	/*display:inline-flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	background-color:var(--menu-btn-color);
	outline: none;
	border:none;
	border-radius: .4rem;
}

header .search button img{
	padding: 0;
	margin:.5rem;
	object-fit: cover;
	width: 60%;}

/* navbar css end */


/* home section css start */
.home{
	padding:0 1rem;
	background-color: var(--support-color);
}

.home .wrapper {
	height:auto;
	margin:0 auto;
	padding:8rem 0;
	display: flex;
	gap:1rem;
}

.home .wrapper > div{
	flex:1;
}

.home .wrapper .right-content img{
	height:-webkit-fill-available;
	height: fill;
	width: 100%;
	object-fit: cover;
	padding: 0 1.2rem 0 0;
}

.home .wrapper .left-content{
	padding-left: 1.4rem;
}

.home .wrapper .left-content p{
	margin-bottom: 2.9rem;
}

.home .wrapper .left-content > div a:first-child{
	--left:3.7rem;
	--rght:3.7rem;
	margin-right:1rem;
}

.home .wrapper .left-content > div a:nth-child(2){
	--left:4.2rem;
	--rght:4.2rem;
	margin-right:1rem;
	background-color:#252525;
}

.home .wrapper .left-content > div a:nth-child(2):hover{
	background-color: var(--nav-bar-color)
}

/* home section css end */



/* our services section css */

.our-services .wrapper{
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom:9rem;
}

.our-services .wrapper > p{
	margin-top:3rem;
}

.our-services .wrapper > .services{
	margin-top:9rem;
	display:flex;
	justify-content: center;
	gap:2.2rem;
}

.our-services .wrapper .services .col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.our-services .wrapper .services .col img{
	height: 35rem;
	width:100%;
}

.our-services .wrapper .services .col h4{
	font-size: 2.6rem;
	font-weight:lighter;
	padding:2rem 0 1rem 0;
}

.our-services .wrapper .services .col .p-font-sm{
	padding:0 1rem 3rem 1rem;
}

.our-services .wrapper .services .col .btn{
	--left:3rem;
	--rght:3rem;
	background-color:#252525;
}

.our-services .wrapper .services .col .btn:hover{
	background-color: var(--nav-bar-color);
}

/* our services section css end */

/* Quality service section css */
.quality-service > .wrapper:first-child{
	margin:0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:0 1rem 8rem 1rem;
}

.quality-service > .container{
	background-image: url("../images/quality_section/img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding:8rem 0;
}

.quality-service > .container > .wrapper{
	margin:0 auto;
	display: flex;
	flex-direction: column;
	gap:3rem;
	justify-content: center;
	align-items: center;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	text-align: center;
}

.quality-service > .container > .wrapper .btn{
	background-color: white;
	--left:3rem;
	--rght:3rem;
	color:black;
}

.quality-service > .container > .wrapper h2{
	font-size: 3rem;
}

.quality-service > .container > .wrapper .btn:hover{
	background-color:#252525;
	color: white;
}

/* Quality service section css end */

/* why choose us section css */

.why-choose-us .wrapper {
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
	/*text-align: center;*/
}

.why-choose-us .wrapper .cards{
	display: flex;
	gap:1.2rem;
	margin:8rem 0 0 0;
}

.why-choose-us .wrapper .cards .col{
	padding:3rem 1.5rem;
	display: flex;
	flex-direction: column;
	gap:1rem;
}

.why-choose-us .wrapper .cards .col > div{
	display: flex;
	gap:1rem;
	align-items: center;
}

.why-choose-us .wrapper .cards .col > div > h4{
	font-size: 1.6rem;
	text-align: center;
}

.why-choose-us .wrapper .cards .col > div h4:first-child{
	border:.1rem solid var(--nav-bar-color);
	padding:1rem 1.4rem;
	border-radius: 50%;
}

.why-choose-us .wrapper .cards .col:hover{
	background-color: var(--nav-bar-color);
	color:white;
}



/* why choose us section css end */


/* testimonial section css */

.testimonial .wrapper{
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:8rem 1rem;
}

.testimonial .wrapper .testimonial_box{
	box-shadow: 0rem 0rem 1rem .5rem #f1f1f1;
	width:80%;
	padding:6rem 12rem;
	display: flex;
	margin:8rem 0 0 0;
	align-items: center;
	gap:1.6rem;
}

.testimonial .wrapper .testimonial_box .client_img img{
	width:9.4rem;
	height:14rem;
}

.testimonial .wrapper .testimonial_box .client_about{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.testimonial .wrapper .testimonial_box .client_about > p:first-child{
	margin-bottom: 1.6rem;
	color:#0C0C0c;
}

.testimonial .wrapper .testimonial_box .client_about .client_name{
	font-size: 2rem;
	font-weight: 400;
	color:#0c0c0c;
}

.testimonial .wrapper .testimonial_box .client_about > p:nth-child(3){
	color:#0c426e;
}

/* testimonial section css end */



/* footer section css */

.footer{
	background-color: var(--footer-color);
}

.footer .wrapper{
	min-height: 30rem;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	padding:9rem 1rem 0 1rem;
}

/* footer row 1 */
.footer .wrapper .row-1{
	display: flex;
	gap:2rem;
}

.footer .wrapper .row-1 .col {
	flex-basis: 50%;
}


.footer .wrapper .row-1 .col > h3{
	font-size: 2.4rem;
	font-weight:500;
	color:white;
	margin-bottom: 2.8rem;
}

.footer .wrapper .row-1 .col li{
	margin-bottom: 1rem;
}

.footer .wrapper .row-1 .col li,li a{
	color:#b1b6c2;
	font-size: 1.6rem;
}

.footer .wrapper .row-1 .col li a:hover{
	color:white;
}


.footer .wrapper .row-1 .col-4 input[type="email"]{
	padding:1.3rem 1rem;
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
	width:100%;
	outline: none;
	border:none;
}

.footer .wrapper .row-1 .col-4 input[type="email"]::placeholder,
.footer .wrapper .row-1 .col-4 input[type="email"]{
   text-align: center; 
}


.footer .wrapper .row-1 .col-4 .btn{
	--left:3rem;
	--rght:3rem;
}

.footer .wrapper .row-1 .col-4 .btn:hover{
	background-color: white;
	color:#b1b6c2;
}


/* footer social icons section */
.footer .wrapper .row-2{
	display: flex;
	justify-content: center;
	gap:1.2rem;
	margin-top: 3rem;
}

.footer .wrapper .row-2 > div{
	width:6rem;
	height: 6rem;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.3rem;
}

.footer .wrapper .row-2 > div:hover{
	background-color: #007bff;
	color:white;
}
/* footer copyright part */
.footer .wrapper .row-3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8rem;
	margin-bottom: 1.5rem;
	color:white;
	text-align: center;
}

.footer .wrapper .row-3 > p a{
	color:white;
}

.footer .wrapper .row-3 > p a:hover{
	color:#b1b6c2;
}


/* ==================== */

/*     media queries    */

/* ==================== */

@media(max-width: 1199px){
	.wrapper{
		width: 96rem;
	}
	/* our services section media query */
	.our-services .wrapper .services .col img{
		height: 28.9rem;
	}

	/* testimonial section media query */
	.testimonial .wrapper .testimonial_box{
		padding:6rem 3.6rem;
	}
}


@media(max-width: 991px){
	.wrapper{
		width: 72rem;
	}

	/* media quary for navbar */
	header {
		padding:0 1.4rem;
		align-items: flex-start;
	}

	header > .logo, .search {
	   margin-top: 1.8rem;
	}

	header > .search > img{
		display: none;
	}

	header > .search > button{
		display:inline-flex;
	}

	header nav ul{
		display:none;
	}

	header nav ul li:last-child{
		display: inline-block;
	}

	/* media quary for hero section */
	.hero-heading{
		font-size: 4.6rem;
	}
	.home .wrapper .left-content{
		padding-left: 0;
	}

	.home .wrapper .right-content img{
		padding-right: 0;
	}

	.home .wrapper .left-content div a{
		--left:2.7rem !important;
		--rght: 2.7rem !important;
	}

	/* our services section media query */
	.our-services .wrapper .services .col img{
		height: 19.7rem;
	}

	.our-services .wrapper .services .col h4 {
    	font-size: 2rem;
	}

	.our-services .wrapper .services .col .p-font-sm {
		font-size: 1.2rem;
	}

	/* media query for why choose us section */
	.why-choose-us .wrapper .cards .col > div > h4 {
    	font-size: 1.4rem;
	}


	/* media Query for footer */
	.footer .wrapper .row-1{
		flex-wrap: wrap;
	 }

	.footer .wrapper .row-1 .col {
		flex-basis: 48%;
	}

	/* testimonial section media query */
	.testimonial .wrapper .testimonial_box{
		width: 100%;
	}
}


@media(max-width: 767px){
	.wrapper{
		width: 54rem;
	}

	.title{
		font-size: 2.7rem;
	}

	/* media query for home section */
	.home .wrapper{
		flex-direction: column;
	}



	.home .wrapper .right-content{
		height:auto;
		width: 100%;
	}

	/* media query for our services section */
	.our-services .wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.our-services .wrapper > .services{
		flex-direction: column;
	}

	.our-services .wrapper .services .col img {
    	height:100%;
	}

	/* media query for why choose us section */
	.why-choose-us .wrapper .cards{
		flex-direction: column;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media(max-width: 576px){
	.wrapper{
		width: 100%;
	}

	/* media query for footer */
	.footer .wrapper .row-1{
		flex-direction: column;
	 }

	 /* testimonial section media query */

	 .testimonial .wrapper{
		padding:8rem 1.4rem;
	}
	.testimonial .wrapper .testimonial_box{
		flex-direction: column;
		align-items: flex-start;
	}
}


@media(max-width: 365px){
	/* home section media query */
	.home .wrapper .left-content div{
		display: flex;
		gap:1rem;
	}
	.home .wrapper .left-content div > a{
		padding:1rem;
		text-align: center;
		flex-basis:100%;
		margin-right:0 !important;
	}
}