@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*font-family: 'Poppins', sans-serif;*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style:none;
	text-decoration:none;
	font-family: 'Poppins', sans-serif !important;
	/*overflow-x: hidden;*/
}

html{
	font-size: 62.5%;
	/* 10px = 1rem */
}

/* reuasable codes */

:root{
	--nav-bar-color:#0c426e;
	--nav-bar-font-color:#ffffff;
	--header-height:6.9rem;
	--menu-btn-color:white;
	--support-color:#fafafa;
}

.wrapper{
	width:114rem;
}


.hero-heading{
	font-size: 7.6rem;
	line-height: 1.2;
	margin-bottom: 0.6rem;
}

.p-font-md{
	font-size: 1.6rem;
}

.p-font-sm{
	font-size: 1.4rem;
}

.btn{
	--clr:white;
	--font-size: 1.8rem;
	--top:1rem;
	--rght:1rem;
	--btm:1rem;
	--left:1rem;
	--bckcolor:var(--nav-bar-color);

	padding-top: var(--top);
	padding-right: var(--rght);
	padding-bottom: var(--btm);
	padding-left: var(--left);

	background:var(--bckcolor);
	display: inline-block;
	font-size:var(--font-size);

	color:var(--clr);
}


/* navbar css */

header{
	min-height:var(--header-height);
	padding:0 3.2rem;
	background:var(--nav-bar-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > nav {
	margin-top:-0.3rem;
}

header > .logo,.search{
	margin-bottom:-.5rem;
}


header nav ul{
	display: flex;
	gap:4rem;
}

.show-nav{
	display: flex;
	padding:1rem;
	gap:2.5rem;
	flex-direction: column;
	position:absolute;
	top:var(--header-height);
	left:0;
	width:100%;
	text-align: center;
	z-index: 1;
	background-color: var(--nav-bar-color);
}

header nav ul li:last-child{
	display: none;
}

header nav ul li a{
	font-size: 1.8rem;
	color:var(--nav-bar-font-color);
	display: inline-block;
	font-weight:lighter;
}


header .search img{
	padding-right: 0.4rem;
}

header .search button {
	margin:0;
	padding: 0;
	width:5rem;
	/*display:inline-flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	background-color:var(--menu-btn-color);
	outline: none;
	border:none;
	border-radius: .4rem;
}

header .search button img{
	padding: 0;
	margin:.5rem;
	object-fit: cover;
	width: 60%;}

/* navbar css end */


/* home section css start */
.home{
	padding:0 1rem;
	background-color: var(--support-color);
}

.home .wrapper {
	height:auto;
	margin:8.8rem auto;
	display: flex;
	gap:1rem;
}

.home .wrapper > div{
	flex:1;
}

.home .wrapper .right-content img{
	height:-webkit-fill-available;
	height: fill;
	width: 100%;
	object-fit: cover;
	padding: 0 1.2rem 0 0;
}

.home .wrapper .left-content{
	padding-left: 1.4rem;
}

.home .wrapper .left-content p{
	margin-bottom: 2.9rem;
}

.home .wrapper .left-content > div a:first-child{
	--left:3.7rem;
	--rght:3.7rem;
	margin-right:1rem;
}

.home .wrapper .left-content > div a:nth-child(2){
	--left:4.2rem;
	--rght:4.2rem;
	margin-right:1rem;
	background-color:#252525;
}

.home .wrapper .left-content > div a:nth-child(2):hover{
	background-color: var(--nav-bar-color)
}

/* home section css end */

/* ==================== */

/*     media queries    */

/* ==================== */

@media(max-width: 1199px){
	.wrapper{
		width: 96rem;
	}
}


@media(max-width: 991px){
	.wrapper{
		width: 72rem;
	}

	/* media quary for navbar */
	header {
		padding:0 1.4rem;
		align-items: flex-start;
	}

	header > .logo, .search {
	   margin-top: 1.8rem;
	}

	header > .search > img{
		display: none;
	}

	header > .search > button{
		display:inline-flex;
	}

	header nav ul{
		display:none;
	}

	header nav ul li:last-child{
		display: inline-block;
	}

	/* media quary for hero section */
	.hero-heading{
		font-size: 4.6rem;
	}
	.home .wrapper .left-content{
		padding-left: 0;
	}

	.home .wrapper .right-content img{
		padding-right: 0;
	}

	.home .wrapper .left-content div a{
		--left:2.7rem !important;
		--rght: 2.7rem !important;
	}
}


@media(max-width: 767px){
	.wrapper{
		width: 54rem;
	}

	/* media query for home section */
	.home .wrapper{
		flex-direction: column;
	}



	.home .wrapper .right-content{
		height:auto;
		width: 100%;
	}
}

@media(max-width: 576px){
	.wrapper{
		width: 100%;
	}
}


@media(max-width: 365px){
	/* home section media query */
	.home .wrapper .left-content div{
		display: flex;
		gap:1rem;
	}
	.home .wrapper .left-content div > a{
		padding:1rem;
		text-align: center;
		flex-basis:100%;
		margin-right:0 !important;
	}
}