@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');

/*
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*global*/
html {
    font-size: 62.5%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

:root {
    --white: #fff;
    --black: #111;
    --limegreen: #12c757;
    --darkslategray: #425465;
    --goldenrod: #e5b837;
    --sandybrown: #f0cf56;
    --palegoldenrod: #eae0b0;
}

.container {
    width: 114rem;
    margin: auto;
}

.btn {
    --color: var(--white);
    --background: var(--limegreen);
    color: var(--color);
    background: var(--background);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 0;
    border-radius: 4rem;
    max-width: 29.2rem;
    width: 100%;
    text-align: center;
}

h1 {
    --font-size: 7rem;
    --color: var(--white);
    font-size: var(--font-size);
    color: var(--color);
    font-weight: 700;
}

p {
    --font-size: 1.6rem;
    --font-weight: 400;
    --line-height: 1.5;
    --color: var(--white);
    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

/*section1*/
.section-1 {
    background: url(./images/section-1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 83%;
}

.section-1 .container {
    display: flex;
    flex-direction: column;
    min-height: 70rem;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
}

#header .search-box {
    border: 0.1rem solid white;
    display: flex;
    width: 20rem;
}

#header .search-box input {
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 0.8rem 1.4rem;
    font-size: 1.6rem;
    width: 100%;
}

#header .search-box input::placeholder {
    color: #eae0b0;
}

#header button {
    border: none;
    outline: none;
    background: none;
}

#header .search-box button {
    padding-right: 1rem;
}

#header .search-box button svg {
    width: 1.6rem;
    fill: white;
    display: block;
}

button.menu-btn > svg {
    width: 2.6rem;
    fill: white;
    display: block;
}

.section-1 .container .content {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 76.8rem;
}

.section-1 .container .content p {
    --font-size: 2rem;
    --font-weight: 600;
    margin: 2rem 3rem 8rem;
}

.section-1 .container .content .cta-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 59rem;
    margin: auto;
    gap: 1.8rem;
}

.section-1 .container .content .cta-grp a {
    flex: 1;
}

.section-1 .container .content .cta-grp a:nth-child(2) {
    --color: var(--darkslategray);
    --background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.section-1 .container .content .cta-grp a:nth-child(2) svg {
    display: block;
}

/*section-2*/
.section-2 .container {
    padding: 7rem 0 5rem 0;
}

.recepies {
    display: flex;
    margin: 0 3rem 8rem;
    gap: 6rem;
}

.recepies > div > .recepi {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.recepies > div > .recepi + .recepi {
    margin-top: 7.6rem;
}

.recepies > div > .recepi > img.recepi-pic {
    width: 18rem;
}

.recepies > div > .recepi > div {
}

.recepies > div > .recepi > div > .recepi-name {
    font-size: 2.2rem;
    font-weight: 400;
}

.recepies > div > .recepi > div > .recepi-price {
    font-size: 3.6rem;
    font-family: 'Open Sans', sans-serif;
    margin: 1.2rem 0;
}

.recepies > div > .recepi > div > .recepi-detail {
    font-size: 1.6rem;
    line-height: 1.7;
    margin-right: 5rem;
}

.section-2 > .container > a {
    color: var(--black);
    font-size: 1.6rem;
    text-align: center;
    display: block;
}

/* section 3 */
.section-3 {
    background: var(--sandybrown);
    display: flex;
}

.section-3 > div {
    flex-basis: 50%;
}

.section-3 > .right-div > img {
    height: 64rem;
    display: block;
    object-fit: cover;
    object-position: center;
}

.section-3 .left-div > p {
    --font-size: 1.7rem;
    --line-height: 1.8;
    padding: 2rem 0;
}

.section-3 > .left-div > p a {
    color: var(--white);
    border-bottom: .1rem solid
}

.section-3 > .left-div > p a:hover {
    border-bottom: none;
    color: #e6e6e6;
}

.section-3 .left-div {
    padding-left: 10vw;
    padding-top: 15rem;
    padding-right: 2rem;
}

/*media queries*/
@media(max-width:1199px) {
    .container {
        width: 96rem;
    }

}

@media(max-width:991px) {
    .container {
        width: 72rem;
    }

    .section-1 .container .content p {
        margin: 2rem 8rem 8rem;
    }

    .section-1 .container {
        min-height: 53rem;
    }

    .recepies {
        flex-direction: column;
    }

    .section-3 .left-div {
        padding-top: 10rem;
    }

    .section-3 .left-div > h1 {
        --font-size: 4.8rem;
    }

    .section-3  .right-div img {
        height: 54rem;
    }

}

@media(max-width:767px) {
    .container {
        width: 54rem;
    }

    .recepies > div > .recepi {
        flex-direction: column;
        align-items: flex-start;
    }

    .section-1 .container .content .cta-grp {
        flex-direction: column;
    }

    .section-3 {
        flex-direction: column;
    }

    .section-3 .left-div {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .section-3 .right-div img {
        height: 50rem;
    }

}

@media(max-width:575px) {
    .container {
        width: 39rem;
    }

    h1 {
        --font-size: 4rem !important;
    }

    .section-1 {
        background-size: 200%;
    }

    #header {
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
    }

    #header .search-box {
        width: 100%;
    }

    .section-1 .container .content p {
        margin: 2rem 0 8rem;
        font-size: 1.8rem;
    }

    .recepies > div > .recepi > div > .recepi-detail {
        margin-right: 0;
    }

    .section-3 .right-div img {
        height: 30rem;
    }

    .section-3 .left-div {
        padding: 2rem;
    }

}

@media(max-width:424px) {
    .container {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }

}
