@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300&display=swap');

:root{
	--clr-white:#fff;
	--clr-yellow:#f1c50e;
	--clr-muted-black:#f2f2f2;
	--clr-black:#111111;
}

/*=================== global start ====================*/

/* font families */
.font-montserrat{
	font-family: 'Montserrat',sans-serif;
}
.font-open-sans{
	font-family: 'Open Sans',sans-serif;
}
.font-roboto{
	font-family: 'Roboto',sans-serif;
}


/* font sizes */
.font-size-1{
	font-size: 1.4rem;
}
.font-size-2{
	font-size: 1.6rem;
}
.font-size-3{
	font-size: 2.0rem;
}
.font-size-4{
	font-size: 3rem;
}
.font-size-5{
	font-size: 4.8rem;
}
.font-size-6{
	font-size: 6rem;
}
.font-size-7{
	font-size: 7.2rem;
}
.font-size-8{
	font-size: 13rem;
}

/*=================== global end ====================*/


