@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');



*,
*::before,
*::after{
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
	text-decoration:none;
	transition: all 0.5s;
	font-family: 'Inter', sans-serif;
}

:root{
	--primaryColor:#001e69;
	--secondaryColor:#4d26aa;
	--trenoryColor:#393939; /* black */
	--greyColor:#f2f2f2;
}

html{
	font-size: 62.5%;
}

.container{
	max-width: 114rem;
	margin:0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

h1{
	font-size: 3.6rem;
	font-weight: 700;
	color: var(--secondaryColor);
}

/* header */
header{
	background: linear-gradient(#EBE2FF 0%, rgba(234, 225, 254, 0.5) 41.95%, rgba(234, 225, 254, 0) 100%);
	position: relative;
}

header .container{

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

header .container .menu_btn{
	width: 3rem;
}

header .container .branding{
	height: 3.3rem;
	margin-right: -29rem;
}


header .container .cta-btns ul{
	position: relative;
	display: flex;
	gap:2rem;
}

.show-nav{
	left:0 !important;
}

header .container .cta-btns .close-nav{
	width: 3rem;
	position: absolute;
	top:2rem;
	right:2rem;
	display: none;
}

header .container .cta-btns ul li a{
	color:var(--secondaryColor);
	font-size: 1.3rem;
	font-weight: 500;
}

header .container .cta-btns ul li a.active{
	background-color:var(--secondaryColor);
	color:white;
	padding: 0.8rem 2.6rem;
	border-radius: 1rem;
}


/* hero section */

section.hero{
	background-color: white;
    background-image: url(./images/stipe.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.hero .container{
	padding:3.6rem 1rem;
}


.hero .container .wrapper {
    width: 61.6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.hero .container .wrapper .heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;	
	color:var(--secondaryColor);
}

.hero .container .wrapper .heading blockquote{
	width:66%;
	font-size: 1.6rem;
}


.hero .container .wrapper .heading blockquote .blockquote__text{
	position: relative;
}

.hero .container .wrapper .heading blockquote .blockquote__text::before,
.hero .container .wrapper .heading blockquote .blockquote__text::after{
	color: #EBE2FF;
	font-size: 12rem;
	position: absolute;
}


.hero .container .wrapper .heading blockquote .blockquote__text::before{
	content: "\201c";
	top:-100%;
	left:-15%;
}

.hero .container .wrapper .heading blockquote .blockquote__text::after{
	content: "\201d";
	top: 0;
	right:-17%;
}


.hero .container .wrapper .heading blockquote .blockquote__credit{
	font-weight: 700;
    text-align: right;
    margin-top: 1rem;
}


.hero .container .wrapper .about-us{
	position: relative;
	color:black;
}

.hero .container .wrapper .about-us h1{
	position: absolute;
    writing-mode: tb;
    rotate: 180deg;
    left: -5.3rem;
    margin: 0!important;
}


.hero .container .wrapper .about-us p{
	font-size: 1.5rem;
	line-height: 1.4;
	text-align: justify;
}

.hero .container .wrapper .about-us p + p,
.hero .container .wrapper .our-mission p + p{
	margin-top: 2rem;
}


.hero .container .wrapper .our-mission{
	width: 62%;
    align-self: flex-end;
}

.hero .container .wrapper .our-mission h4{
	font-size: 2.2rem;
    font-weight: 400;
    color: var(--secondaryColor);
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.hero .container .wrapper .our-mission p{
	font-size: 1.6rem;
    line-height: 1.5;
}


/* section intro */
.intro{
	background-color: var(--greyColor);
}

.intro .container{
	display: flex;
	gap:1.6rem;
	padding:7rem 1rem;
}

.intro .container .left{
	font-weight: 800;
    font-size: clamp(3.6rem,13.9vw,16rem);
    line-height: 0.8;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.intro .container .right{
	font-size: 1.6rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



@media(max-width: 991px){
	header .container .branding {
    	margin-right: 0rem;
	}
	.intro .container {
    	flex-direction: column;
    	gap:3rem;
	}
}


@media(max-width: 768px){
		header .container .cta-btns {
		/*display: none;*/
		position: absolute;
    	top: 0;
    	left: -150%;
    	width: 30rem;
    	height: 100vh;
    	background: rgba(0,0,0,0.5);
    	z-index: 999;
	}
	header .container .cta-btns .close-nav{
		display:block;
	}
	header .container .cta-btns ul{
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: center;
		gap:3rem;
	}
	header .container .cta-btns ul a{
		font-size: 1.8rem !important;
		color: white !important;
	}	

	.hero .container .wrapper{
		width: 48rem;
	}

	.hero .container .wrapper .about-us h1 {
    	position:initial;
    	writing-mode:initial;
    	rotate:0deg;
    	margin-bottom: 2rem !important;
	}

	.hero .container .wrapper .our-mission {
    	width: 100%;
	}
}


@media (max-width: 576px){
	.hero .container .wrapper {
    	width: 33rem;
	}
	.hero .container .wrapper .heading blockquote .blockquote__text::before {
    	top: -61%;
    	left: -25%;
	}

	.hero .container .wrapper .heading blockquote .blockquote__text::after {
    	right: -25%;
	}
}


@media (max-width: 371px){
	.hero .container .wrapper {
    	width:100%;
	}
}